<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Some other random page</title>
</head>
<body>
    <main class="main-container">
        {{#if flash}}
            <span class="flash-message">{{flash}}</span>
        {{/if}}

        {{#if errors.name}}
            <span class="flash-message danger">{{errors.name}}</span>
        {{/if}}
        
        <p>
            Nothing much here..
        </p>

        <a href="/">Go back home!</a><br>
        <a href="/backwitherrors">Or pick a misterious error...</a>
    </main>
</body>
</html>